
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
  font-family: 'Poppins', sans-serif;
}

/* Or if using Tailwind's base layer */
@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}